/* Common */
body, #ctBoc { 
  position: relative;
} 
#ctMediaContainer {
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  display: block !important;
} 
#ctMedia {
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#ctClickOver {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.page, #container, #mainSection { position: relative; z-index: 2; }

/* Hideban, Hidefocus */

.hidefocuson_yes #mea,
.hidefocuson_yes #google_ads_div_ButtonTop_FR_TH_ad_container,
.hidefocuson_yes #google_ads_div_ButtonTop_FR_TGU_Download_ad_wrapper,
.hidefocuson_yes #google_ads_div_ButtonTop_US_TGU_Download_ad_wrapper,
.hidefocuson_yes #google_ads_div_ButtonTop_FR_TGU_ad_wrapper,
.hidefocuson_yes #google_ads_div_ButtonTop_US_TGU_ad_wrapper,
.hidefocuson_yes #google_ads_div_ButtonTop_FR_TH_ad_wrapper,
.hidefocuson_yes #google_ads_div_ButtonTop_US_TH_ad_wrapper,
.hidefocuson_yes #google_ads_div_ButtonTop_DE_TH_ad_wrapper,
.hidefocuson_yes #askQuestionMiniContainer,
.hidefocuson_yes #google_ads_div_ButtonTop_UK_TH_ad_wrapper {
  display: none !important;
}

.hidebanniere_yes .advert-center,
.hidebanniere_yes .toppubs .bup,
.hidebanniere_yes #header_pub,
.hidebanniere_yes .div-gpt-ad-1360924363608-0,
.hidebanniere_yes .div-gpt-ad-1360924487662-0,
.hidebanniere_yes #header728,
.hidebanniere_yes #ad-728x90,
.hidebanniere_yes .header .pub,
.hidebanniere_yes #leaderboard,
.hidebanniere_yes #breakingad,
.hidebanniere_yes #megaban,
.hidebanniere_yes #header .banner_head,
.hidebanniere_yes .ad_leaderboard,
.hidebanniere_yes .top-bloc,
.hidebanniere_yes #header_leaderboard,
.hidebanniere_yes .ipsAd,
.hidebanniere_yes .main-adsocial .detectadblock2 {
  display: none !important;
}

.hidebanniere_yes .header-wrapper { /* comment for an issue on TGU ops */
  /*height: auto !important;*/
}
