body.ct_wallpaper{
  background-image:none !important;
}

.ct_wallpaper #header-container {
  position: relative;
  z-index: 2;
}

.ct_wallpaper .content-container {
  z-index: 1;
  position: relative;
}

.ct_wallpaper .footer-container {
  z-index: 1;  
}

.hidebanniere_yes #header_ad{
  display: none;
}

.hidebanniere_no #header_ad{
  display: block;
}

.content.container > center > div[id*="div-gpt-ad"]{
	margin: 5px !important;
}




/* ct_pos_fixed*/
.ct_pos_fixed #ctBoc{
  margin-top: 0;
}

.ct_pos_fixed #ctMediaContainer{
  margin-top:120px;
}

.ct_pos_fixed #header-container {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
}

.ct_pos_fixed.ct_wallpaper .content-container {
  margin-top:120px;
}


