/* Common
#ctBoc > *:nth-child(2){
  position: relative;
  z-index: 3;
}
 */
 .ct_wallpaper {
  background-image: none;
 }
 
div[id*="-oop"],
div[id*="-oop"] iframe {
  display: block;
  height: 0 !important;
}

#ctBoc, #ctMediaContainer, #ctMedia {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
}

#ctBoc {
  width: 100% !important;
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#ctMedia {
  position: absolute;
  left: 50%;
}

#ctMedia img {
  max-width: none !important;
}

.ct_pos_absolute #ctMediaContainer {
  position: absolute;  
}

.ct_pos_fixed #ctMediaContainer {
  position: fixed;
  left:0;
}

/* Mobi Actu */
.ct_wallpaper#body_integration #page {
  position: relative;
  z-index: 2;
}

/* Test mobile */
.ct_wallpaper #all {
    position: relative;
    z-index: 2;
}